template/Nova_Ingestion.json
{
  "name": "Nova_Ingestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -112
      ],
      "id": "288f3885-e5b5-427c-b685-cfee2857fee7",
      "name": "When clicking ‘Execute workflow’",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "15zcGS8ahNkioXEbuPJ2olrR7X51-tAsY",
            "mode": "list",
            "cachedResultName": "n8n project files",
            "cachedResultUrl": "https://drive.google.com/drive/folders/15zcGS8ahNkioXEbuPJ2olrR7X51-tAsY"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        -112
      ],
      "id": "ef826805-7cfe-49b2-b491-8d5720c9cef3",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "HQefcItqQfZDkoH5",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "novaagent",
          "mode": "list",
          "cachedResultName": "novaagent"
        },
        "options": {
          "pineconeNamespace": "_default_"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        256,
        -112
      ],
      "id": "1f796f13-4d49-4ebc-bcd7-96abfa97a848",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YSZoa0raJag3OEyM",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        96
      ],
      "id": "875add40-7907-4c72-8f20-e1dfbdcb2ce2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        544,
        240
      ],
      "id": "38a44362-c626-4f9f-b9da-5854346681b5",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        112
      ],
      "id": "084cb2d5-89b8-4302-a530-e3c1ef80a9e3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "o2i0UEEQ8m4YpYSP",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        -112
      ],
      "id": "c3bf6c27-fd42-49dc-ba32-d828e63b05c5",
      "name": "Download file",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "HQefcItqQfZDkoH5",
          "name": "Google Service Account account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5e1bc761-98cb-4f25-8dde-5144cf733144",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bba76e5e166a4f7645277641896085af1c1b10d058677e234de9d24b7db7752c"
  },
  "id": "zhpf3rw2f5kV2MgB",
  "tags": []
}